.Qcm {
    display:grid;
    grid-gap: min(16px,2vmin);
    padding: min(16px,2vmin);
}


@media screen and (orientation: portrait) {
    .Qcm {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (orientation: landscape) {
    .Qcm {
        grid-template-columns: 1fr;
    }
  }

.Qcm.shown button {
  scale: 1;
}

.Qcm button {
    font-size:1.5em;
    display: inline-block;
    border: none;
    border-radius: 0.3em;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%), inset 0 -0.25em 0 rgb(0 0 0 / 25%), 0 0.25em 0.25em rgb(0 0 0 / 5%);
    color: #fff;
    background-color: #1199eef2;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    vertical-align: middle;
    user-select: none;
    transform-origin: center;
    scale: 0;
    transition: scale 400ms 100ms;
}
.Qcm button:hover{
  background-color: #1199eef2 !important;
}

.Qcm button:active, 
.Qcm button:focus {
  outline: none;
}