.Teacher {
    width: 100%;
    height: 100%;
    position: relative;
}

.Start {
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
}

button {
    font-size:2.5em;
    border-radius:12px;
    padding:12px;
    cursor: pointer;
    background:rgb(226, 226, 226);
    color:black;
}

button:not(:disabled):hover {
    background:rgb(255, 255, 255);
}

.AppName {
    font-size:6rem;
    margin-bottom: 25vh;
    font-weight: bold;
    text-shadow: 2px 2px 2px #8d8d8d;
}